<h3>Check out all these events</h3>

<ul>
  <% @events.each do |event| %>
    <div class="each-event">
      <h3><%= link_to event.title, event_path(event)%> </h3>
      <p>Location: <%= event.location.neighborhood %> </p><br>
    </div>
  <% end %>

</ul>
