<%= form_tag results_path, :method => 'post' do %>
<%= text_field_tag :search, params[:search], placeholder: 'Enter Your Address Here' %>
<%= submit_tag 'Search' %>
<% end %>

<iframe src="https://giphy.com/embed/JIX9t2j0ZTN9S" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/JIX9t2j0ZTN9S"></a></p>

<% if flash[:errors] %><br>
<h3> <%= flash[:errors] %></h3>
<% end %>
