// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .search input {
//   height: 20px;
//   width: 200px;
// }

.each-event {
  background: #f0f0ed;
  opacity: 0.8;
  background: #f0f0ed;
  opacity: 0.8;
  border: 1px solid #fff;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-color: #fff;
}


.each-event h3 {
  color: #2f4463;
  font-family: Helvetica,Arial,sans-serif;
}

.each-event p {
  padding-left: 30px;
  font-family: Helvetica,Arial,sans-serif;
}
