// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.username {
  font-size: 40px;
  font-family: Helvetica,Arial,sans-serif;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #31384c;
}

ul {
  float: left;
}

.each-event {
  background: #f0f0ed;
  opacity: 0.8;
  background: #f0f0ed;
  opacity: 0.8;
  border: 1px solid #fff;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-color: #fff;
}


.each-event h3 {
  color: #2f4463;
  font-family: Helvetica,Arial,sans-serif;
}

.each-event p {
  padding-left: 30px;
  font-family: Helvetica,Arial,sans-serif;
}

body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/08/EmpireStateNewYokCity.jpg);
  background-repeat: round;
  background-attachment: fixed;
  background-size: 1295px 720px;
}

h3 a {
    color: #163d77;
}

h3 a:visited {
    color: #55739e;
}
h3 a:hover {
    background-color: #163d77;
    color: #ffffff;
}
